body {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

}

ul.a{
  list-style-type: circle;
  padding-left: 16px; padding-right: 0px;
  color: black;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.form-group {
  margin-top: 20px;
}
.container {
  padding-left: 48px;
  padding-right: 48px;
  max-width: 1000px;
}
h2 {
  padding: 5px;
  color: black;
  border-bottom:4px solid #3D9264;
  border-radius: 6px;
  background: #C5E3DE;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  padding: 5px;
  color: black;
  border-bottom:4px solid #7CBC99;
  border-radius: 6px;
  background: #7AA77E;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
#some-id { ... }                e.g. #email-button { ... }
.some-class { ... }             e.g. .form-group - normally use this one! { ... }
some-element-name { ... }       e.g. div { ... }
*/
